@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


/* defining colors */
:root {
  --primary-white: #fff;
  --primary-red: rgb(158, 40, 10);
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Navbar */
nav {
  z-index: 2;
}
  /* logo */
.logo{
  width: 3.4rem ;
}

  /* NAV LINKS */
nav a.nav-link {
  font-size: 1rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right:0.625rem ;
  margin-left:0.625rem ;
  color: var(--primary-white) !important;
  border-top :0.1875rem solid rgb(255, 255, 255,0);
}

.navbar-brand {
  max-width: 17rem;
  padding: 0 !important;

}

/* making the links focus when click or hoover */
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
 
  border-bottom :0.1875rem solid rgb(192, 150, 14) ;
  /* background-color: green; */
  max-width: 6.375rem;
}

.navbar-nav > li > a:hover {
  border-bottom :0.1875rem solid rgb(192, 150, 14) ;
  /* background-color: green; */
  max-width: 6.375rem;
}


/* header */

.header-wraper {
  position: relative;
  background: url(slider-background-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.main-info {
  display: flex;
  /* this will put the content on central */
  position:absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  
}

.main-info h1 {
  color: rgb(20, 51, 223);

  text-transform: uppercase;
  font-weight: 400;
}


/* typed-text */
.typed-text {
  color:rgb(206, 33, 182);
  font-weight: 3rem;
  font-size: large;
}

/* button from header */
.contact-button{
  border: 1px solid red;
  text-transform: uppercase;
  padding: 0.625em 0.75rem 0.75rem 0.75rem;
  color:white;
  margin: 2rem;
}
.contact-button:hover{
  background-color:white;
  color:black;
  transition:  0.2s ease-in-out;
}


/* particals  */

.tsparticles-canvas-el {
  position:absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1 ;

}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size: 1.3rem;
  }
}