@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');


/* defining colors */
:root {
  --primary-white: #fff;
  --primary-red: rgb(158, 40, 10);
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color:rgb(20, 19, 19) !important;
}

/* Navbar */
 nav {
  z-index: 2;
} 
  /* logo */
.logo{
  width: 3.4rem ;
}  

  /* NAV LINKS */
/* nav a.nav-link {
  font-size: 1rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
} */

/* .navbar-nav > li > a {
  margin-right:0.625rem ;
  margin-left:0.625rem ;
  color: var(--primary-white) !important;
  border-top :0.1875rem solid rgb(255, 255, 255,0);
}

.navbar-brand {
  position: absolute;
 left:1%;
  max-width: 17rem;
  padding: 0 !important;

}
.navbar-collapse{
  position:absolute;
  right: 5%;
} */
.nav-link{
  color:white !important;
  padding-bottom: 0.2rem;
}

.nav-link:hover {
  border-bottom: 0.2rem solid yellow;
  padding-bottom: 0;

}

@media(min-width:768px ) {
  .navbaritems {
    position: absolute;
    right: 10%;
    z-index: 2;
  }
}



/* header */

.header-wraper {
  position: relative;
  background: url(slider-background-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  /* this will put the content on central */
  position:absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  
}

.main-info h1 {
  color: rgb(20, 51, 223);

  text-transform: uppercase;
  font-weight: 400;
}


/* typed-text */
.typed-text {
  color:rgb(211, 233, 12);
  font-weight: 3rem;
  font-size: large;
}

/* button from header */
.contact-button{
  border: 1px solid red;
  text-transform: uppercase;
  padding: 0.625em 0.75rem 0.75rem 0.75rem;
  color:white;
  margin: 2rem;
}
.contact-button:hover{
  background-color:white;
  color:black;
  transition:  0.2s ease-in-out;
}


/* particals  */

.tsparticles-canvas-el {
  position:absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1 ;

}
/* about me component */
.photo-wrap{
  direction:flex;
  justify-content: center;
  align-items: center;
}

.propic {
  border-radius: 40%;
  width: 20rem;
  padding: -3rem;
  border:0.0625rem solid red ;
}

.aboutme {
  color: white;
  height: 50vh;
}
.meHeading{
  color: orange;
  text-transform: uppercase;
}


/* Experience component */
.experience-wrapper{
  position:absolute;
  padding: 3.12rem;
  overflow: hidden;

}

.experience h1 {
text-transform: uppercase;
color: orange;
}
.experience p,  h3 {
  color: white;
  }
.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left:51.8%;
  margin-left: -0.625rem;
  width: 0.125rem;
  height: 100%;
  background-color:green;
  z-index: 1;
}

.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
   
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
  /* direction: rtl; */
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid red;
  background-color: orange;
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9357rem;
  color: grey;
  direction:ltr;

}

.timeline-content h3{
  margin-top: 0.325rem;
  color: yellow;
  
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size: 1.3rem;
  }
  .meHeading{
    color: orange;
    text-transform: uppercase;
    margin: 2rem;
  }
  .experience-wrapper::before{
    left: 0.5rem;
    margin-bottom: 1.875rem;
    /* why this is not working */
    background-color: green;

  }
  .timeline-block-right{
    float:none;
  }
  .timeline-block-left{
    float: none;
    direction: ltr;
  }
  
}